<div class="container"
     fxLayout="row"
     fxLayout.sm="column"
     fxLayout.xs="column"
     fxLayoutAlign.gt-md="space-around"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">

  <div fxFlex="45" *ngIf="dish">
    <div fxFlex>
      <mat-card>
        <mat-card-header>
          <mat-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </mat-card-title>
        </mat-card-header>
        <img width="100%" md-card-image src={{dish.image}} alt={{dish.name}}>
        <mat-card-content>
          <p>{{dish.description}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button [routerLink]="['/dishdetail', prev]">
            <span class="fa fa-chevron-left fa-lg"></span>
          </button>
          <button mat-button (click)="goBack()">BACK</button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>

          <span class="flex-spacer"></span>

          <button mat-button [routerLink]="['/dishdetail', next]">
            <span class="fa fa-chevron-right fa-lg"></span>
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>

  <div fxFlex="45" *ngIf="dish">
    <div fxFlex>
      <h2>Comments</h2>
      <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let c of dish.comments">
          <p matLine role="listitem">{{c.comment}}</p>
          <p matLine role="listitem">{{c.rating}} stars</p>
          <p matLine role="listitem">-- {{c.author}} {{c.date | date}}</p>
        </mat-list-item>
      </mat-list>
    </div>
  </div>

  <div [hidden]="dish">
    <mat-spinner></mat-spinner><h4>Loading... Please wait</h4>
  </div>

</div>
